@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  
  .print\:block,
  .print\:block * {
    visibility: visible;
  }
  
  .print\:block {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}

